{% extends 'base.html' %}

{% block body %}

    <div class="container">
        <h3>Faça Login ou Crie sua conta para continuar</h3>
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    <legend>Login</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_login.email.label(class="form-control-label") }}
                            {{ form_login.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_login.senha.label(class="form-control-label") }}
                            {{ form_login.senha(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_login.lembrar_dados(class="form-check-input") }}
                            {{ form_login.lembrar_dados.label(class="form-check-label") }}
                        </div>
                    </fieldset>
                    {{ form_login.botao_submit_login(class="btn btn-primary mt-2") }}
                </form>
            </div>
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2">
                    <legend>Criar conta</legend>
                    <fieldset>
                        <div class="form-group">
                            {{ form_criarconta.username.label(class="form-control-label") }}
                            {{ form_criarconta.username(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_criarconta.email.label(class="form-control-label") }}
                            {{ form_criarconta.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_criarconta.senha.label(class="form-control-label") }}
                            {{ form_criarconta.senha(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_criarconta.confirmacao.label(class="form-control-label") }}
                            {{ form_criarconta.confirmacao(class="form-control") }}
                        </div>
                    </fieldset>
                    {{ form_criarconta.botao_submit_criarconta(class="btn btn-primary mt-2")}}
                </form>
            </div>
        </div>
    </div>

{% endblock %}